# Logs
logs
*.log
npm-debug.log*
*.local

node_modules
dist
dist-ssr

# Tauri / Rust
src-tauri/target
src-tauri/gen

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.sw?
